.post-create-container {
    padding: var(--spacing-medium);
    background-color: var(--color-background);
    min-height: 100vh;
    font-family: var(--font-body);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-create-title {
    text-align: center;
    color: var(--color-text);
    margin-top: 50px;
    font-size: var(--font-size-large);
}

.post-create-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    max-width: 600px;
    width: 100%;
    background: var(--color-white);
    padding: var(--spacing-large);
    border-radius: var(--radius-base);
    box-shadow: var(--shadow-card);
    height: 23em;
    margin-top: 50px;
}

.post-create-form input[type="text"],
.post-create-form textarea {
    width: 100%;
    padding: var(--spacing-small);
    font-size: var(--font-size-base);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-small);
    resize: vertical;
}

.post-create-form textarea {
    min-height: 100px;
}

.post-create-form button[type="submit"] {
    background: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-small);
    border: none;
    font-size: var(--font-size-base);
    border-radius: var(--radius-small);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 2em;
}

.post-create-form button[type="submit"]:hover {
    background: #0056b3;
    
}

.botao-post {
    color: var(--color-white);
    padding: var(--spacing-small);
    border: none;
    font-size: var(--font-size-base);
    border-radius: var(--radius-small);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 2em;
    width: 150px;
    margin-left: 13em;
    margin-bottom: 12px
}