.homepage-container {
  padding: var(--spacing-medium);
  background-color: var(--color-background);
  min-height: 100vh;
  font-family: var(--font-body);
}

.homepage-title {
  text-align: center;
  color: var(--color-text);
  margin-bottom: var(--spacing-large);
  font-size: 2.5em;
}

.posts-list {
  display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
  
}

 .botao {
  background: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-small);
    border: none;
    font-size: var(--font-size-base);
    border-radius: var(--radius-small);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 2em;
    max-width: 100%;
    margin-left: 48em;
 }
